# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Virtual environments
venv/
.env

# API keys or secret configs
*.env
*.key
*.pem

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Large files
*.pyd
*.so
*.dll
